{% extends 'core/base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="jumbotron">
    <h3>Hello {{ user.first_name }} you can add tasks here</h3>
    <p>
        Select the the user from the dropdown and enter the task details in the fields.
    </p>
</div>

<form method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <div style="float: right;">
        <button type="submit" class="btn btn-success">Save Todo</button>
    </div>
</form>

{% endblock %} {% block script %} {{ form.media }} {% endblock script %}
