{% extends 'core/base.html' %} {% block content %} {% if request.user.is_staff %}
<h3 align="center">
    {{ user.first_name }} has completed {{ percentage }}% of his weekly tasks
</h3>
<br />
<div class="text-center">
    <img
        class="circular--square"
        src="{{ user.userprofile.image.url }}"
        class="bd-placeholder-img rounded-circle"
        width="240"
        height="240"
    />
</div>
<br />
<div class="progress" style="margin-bottom: 2em;">
    <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        aria-valuenow="{{ percentage }}"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width:{{ percentage }}%"
    ></div>
</div>
<table class="table table-hover" data-link="row">
    <thead>
        <tr align="center">
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Completed</th>
            {% if request.user.is_staff %}
            <th scope="col">delete</th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
        <tr  table-primary align="center"  onclick="openInNewTab('www.test.com');">
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            {% if todo.completed %}
            <td><a class="btn btn-success" href="{% url 'todo_detail' pk=todo.pk %}"><i class="fal fa-check-square"></i></a></td>
            {% else %}
            <td><a class="btn btn-danger" href="{% url 'todo_detail' pk=todo.pk %}"><i class="fal fa-times-square"></i></a></td>
            {% endif %}
            {% if request.user.is_staff %}
            <td class="align-middle"><form class="flex-container" method="post" action="{% url 'delete' pk=todo.pk %}" >
                        {% csrf_token %}
                        <div>
                             <input type="hidden" name="next" value="{{ request.path }}">
                            <button name="delete" type="submit" class="btn btn-danger" ><i class="fal fa-times-square"></i>
                            </button>
                        </div>
                    </form></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<script> function openInNewTab(url) {
  location.replace("https://www.w3schools.com")
}</script>
{% endif %} {% endblock %}
