{% load static %}
<html lang="en">
    <head>
        <style>
            img {
                border-radius: 50%;
            }
            .list-group {
                flex-direction: row;
            }
        </style>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'todonow/css/todo.css' %}"
        />
        <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.0.9/css/all.css"
            integrity="sha384-L+XK540vkePe55E7PAfByfvW0XpsyYpsifTpgh/w8WvH6asVg/c2zqp0EfZfZTbF"
            crossorigin="anonymous"
        />
        <title>My Todo</title>
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'index' %}">The Todo</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% if request.user.is_staff %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'create' %}"
                        >Create To Do <span class="sr-only">(current)</span></a
                    >
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-light">
                        <a href="{% url 'logout' %}">Log Out</a>
                    </button>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h1 class="mt-2"></h1>
                    <hr class="mt-0 mb-4" />
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
