{% load static %} {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/todo.css' %}" />
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link
            rel="apple-touch-icon"
            href="{% static 'images/icons/apple-touch-icon.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="{% static 'images/icons/apple-touch-icon-57x57.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="{% static 'images/icons/apple-touch-icon-72x72.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="{% static 'images/icons/apple-touch-icon-76x76.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="{% static 'images/icons/apple-touch-icon-114x114.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="{% static 'images/icons/apple-touch-icon-120x120.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="{% static 'images/icons/apple-touch-icon-144x144.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="{% static 'images/icons/apple-touch-icon-152x152.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'images/icons/apple-touch-icon-180x180.png' %}"
        />
        <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css"
            integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'todonow/css/todo.css' %}"
        />
        <script
            src="https://kit.fontawesome.com/82e32b55d7.js"
            crossorigin="anonymous"
        ></script>
        <title>My Todo</title>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <a class="navbar-brand" href="{% url 'index' %}">The Todo</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_staff %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'create' %}"
                            >Create To Do <span class="sr-only">(current)</span></a
                        >
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button type="button" class="btn btn-light">
                            <a href="{% url 'logout' %}">Log Out</a>
                        </button>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <main class="">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h1 class="mt-2"></h1>
                        <hr class="mt-0 mb-4" />
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            src="{% static 'js/moment/locale/en-gb.js' %}"
        ></script>
        {% block script %} {% endblock %}
    </body>
</html>
