appdirs==1.4.4
astroid==2.2.5
attrs==20.2.0
bandit==1.6.2
beautifulsoup4==4.8.1
black==19.10b0
boto3==1.16.5
botocore==1.20.82
certifi==2020.6.20
chardet==3.0.4
Click==7.1.2
Django==2.2.13
django-bootstrap4==2.2.0
django-crispy-forms==1.7.2
django-extensions==3.0.5
django-storages==1.9.1
django-tempus-dominus==5.1.2.13
docutils==0.14
entrypoints==0.3
exponent-server-sdk==0.3.1
flake8==3.8.4
gitdb2==4.0.2
GitPython==3.1.11
idna==2.10
isort==5.4.2
jmespath==0.9.4
lazy-object-proxy==1.5.1
mccabe==0.6.1
pbr==5.5.1
Pillow==7.2.0
psycopg2-binary==2.8.5
pycodestyle==2.6.0
pyflakes==2.1.1
pylint==2.6.0
python-dateutil==2.8.1
pytz==2019.1
PyYAML==5.3.1
requests==2.24.0
rope==0.17.0
s3transfer==0.2.0
six==1.15.0
smmap==3.0.4
smmap2==3.0.1
soupsieve==2.0.1
sqlparse==0.3.1
stevedore==1.30.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.24.3
wrapt==1.12.1
