.circular--square {
    border-radius: 50%;
}
.list-group {
    flex-direction: row;
}
th {
    background-color: #007bff;
    color: white;
}

.table td,
.table th {
    border: none;
}

table.table.table-hover {
    border: 0.5px solid #007bff;
}
