{% extends 'base.html' %} {% load static %} {% block title %}Home{% endblock %} {% block content %}
{% if user.is_authenticated %}

{% if user.userprofile.image %}
<div class="text-center">

<img class="circular--square" src="{{ user.userprofile.image.url }}" class="bd-placeholder-img rounded-circle"
                width="240"
                height="240"
                >

</div>

{% endif %}
<br />
<br />
<h3>Hello {{ user.first_name }} you have completed {{ percentage }}% of your weekly tasks</h3>
<br />

<div class="progress" style="margin-bottom: 2em;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percentage}}%">
        </div>
      </div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Completed</th>
            {% if request.user.is_staff %}
            <th scope="col">delete</th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for entry in todo_entries %}
        <tr table-primary>
            <td>{{ entry.title }}</td>
            <td>{{ entry.description }}</td>
            {% if entry.completed %}<td><button type="button" class="btn btn-success">Completed</button></td>
            {% else %}
            <td><form><button type="submit" name="complete" class="btn btn-danger" method="post">Complete</button></form></td>
            {% endif %}
            <td class="align-middle"><a class="btn btn-danger delete" href=""><i class="fal fa-trash-alt"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
